.overview {
  ul {
    list-style: none;
    text-align: left;

    li {
      margin-bottom: 1rem;
    }

    .tag {
      background-color: rgba(255, 255, 255, 0.201);
      color: white;
      padding: 4px 1rem;
      border-radius: 15px;
      font-size: 0.8rem;
    }
  }

  @media (max-width: 425px) {
    strong {
      display: block;
    }
  }
}
