.analyzer {
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
      border: 1px solid rgb(74, 131, 155);
      border-radius: 5px;
      padding: 0.5rem;
      width: 100%;

      &::placeholder {
        font-family: "mulish", Arial, sans-serif;
        color: rgb(125, 142, 149);
      }

      &:focus {
        outline: 2px solid rgb(0, 242, 255);
      }
    }

    button {
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: white;
      font-size: 1.2rem;
      font-weight: 200;
      padding: 0.9rem;
      width: 200px;
      align-self: center;
      border-radius: 10px;
      background-color: #ffffff2f;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.059);
      }
    }
  }
}
